/* mobile and global */

body{
    margin:0;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
}


.page-margin{
    max-width: 0px 50px;
}
.x{
    align-content: center;
}

.background-photo-effect{
    display: flex;
    flex-direction: column;
}
.good-image{
    width:100%;
}
.testimonial-text{
    font-size: 30px;
}
.event{
    display: flex;
    flex-direction: column;
}

.testimonial-container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2;
}

.review{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.review-container{
    padding:50px;

}

.testimonial-photo-container{
    display:flex;
    padding:50px;

}
.testimonial{
    display: flex;
    flex-direction:row;
    margin: 15px 0 15px 0;
}

.col-right{
    margin:20px 0px 0px 0px ;
    text-align:left;
}


.container{
    max-width: 100%;  
    margin:auto; 
}

.line {
    height: 1px;
    width:70%;
    background: rgb(78, 78, 78);
    position: ablute;
    left:15%;
  }
#banner-section{
    position: relative;
}

#calendar-section{
    background-color: #FFD2ED;
}
.banner-info-container{
    padding: 25px 0;
    display:flex;
    flex-direction: column;
}
.review{
    height:170px;
}
#testimonial-section{
    color:white;
    background-color: #180421;
}

.header-section{
    background: linear-gradient(180deg,#3C1346, 15%,  #180421);
    /*background-image: linear-gradient(180deg, #1f1f1fa1,30%, rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.158)), url(/images/building.jpg);*/
}

#about{

    background: linear-gradient(180deg,#180421, 85%, #3C1346 );

}
.banner-content{
    
    display:flex;
    flex-direction: column;
    position:relative;
}

.landing-banner-content-2{
    display: flex;
    flex-direction: column;
}


.landing-image-container{
    display:flex;
    align-items: center;
    height:500px;
    justify-content: center;
}


.biography-content{
    margin:20px;
}

.footer{
    padding: 40px;
}
/*
@media only screen and (min-width: 600px) and (max-width: 1074px){
    .biography-content{
        max-width:700px;
        margin:auto;
    }

    .landing-image-container{
        display:flex;
        align-items: center;
        height:500px;
    }
    .info-cell{
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
    
    }
    .container{
        max-width: 100%;   
        margin:0px 46px 0 46px;
        
    }


    .infographic-content{
        display:flex;
        flex-direction: row;
    }
    .banner-content{
        flex-direction: row;
    }

}
*/

@media only screen and (min-width: 700px){
    .background-photo-effect{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .x{
        align-content: center;
    }
}

@media only screen and (min-width: 1074px){
    .x{
        align-content: center;
    }
    .info-cell{
        flex-direction: column;
    }

    .col-right{
        margin:0px;
        text-align:rigdht;
    }
    .testimonial-text{
        font-size: 30px;
    }

    .testimonial-photo-container{
        width:500px;
        flex-direction: column;
    
    }
    .banner-info-container{
        height:100px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
  

    .testimonial-container{
        z-index:2;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .testimonial{
        margin-top:30px;
        display: flex;
        flex-direction:row;
        max-width:800px; 
    }

    .biography-content{
        margin:auto;
    }
    .container{
        max-width: 100%;   
    }

    .landing-image-container{
        display:flex;
        align-items: center;
        height:500px;
    }
    .banner-section{
    }
    .banner-content{
        flex-direction: row;
    }

}