

/*mobile and global*/



.home-button{
    display: flex;
    margin-right:auto;
    flex-direction: column;
}
.nav-horizontal{
    display:flex;
    flex-direction: row;
    align-self: center;
}

.nav-ul-dropdown{
    display:flex;
    flex-direction: column;
}
.nav-bar-container{
    background-color:#180421;
    justify-content: space-between;

    
}

#nav-heading{
    font-size: 9px;
    font-weight: 700;
}
.nav-bar-content{
    padding:15px 0;
    display:flex;
    justify-content: flex-end;
}

.hamburger-button{
    display:block;
    border:0px;
    background-color: rgba(255, 255, 255, 0);
    margin-right:32px;
}

.cs-line{
    width:100%;
    height:5px;
    border-color:black;
    background-color: rgb(0, 0, 0);
}

.nav-ul-dropdown{
    padding:0;

}
.nav-ul-dropdown > *{
    height:100px;
    background-color: aliceblue;
    line-height: 100px;
    text-align: center;
}



.inactive{
    display:none;
}
.socials{
    vertical-align: baseline;
    width:30px;
    max-width: 40px;

}

/*tablet*/



/*desktop*/
@media only screen and (min-width: 1074px){
    #nav-heading{
        font-size: large;
        font-weight: 700;
    }
.home-button{
    display:flex;
    flex-direction: row;
}
.socials{

}
body{
    margin: 0px;
    background-image: url();
}



.nav-ul-dropdown{
    display:flex;
    flex-direction: column;
    display:none;
}



.hamburger-button{
    display:none;
}

};