/*global and mobile*/

.landing-logo{
    height:85px;
    
}
p{
    margin:5px 0px;
}

html {
    scroll-behavior: smooth;
  }
.testimonial-photo{
    max-width: 70%;
}
body{
    font-size: 16px;
}
.user-photo{
    max-width:40px;
    margin-right:50px;
}
.event{
    padding-bottom: 30px;
}
.event-details div{
    padding: 5px 0 0 0;
}
#rating{
    max-width:100px;
    margin-bottom: 15px;
}

.section-header{
    display:flex;
    align-items: center;
    height:120px;
    color:#FAED23;
}

footer div{
    text-align: center;
    background-color: #1F1F1F;
    color:#FAED23;
}

footer div a{
    color:#FAED23;
    text-decoration: underline;
}
.banner-2-heading{
    font-size: 60px;
    font-weight:bold;
}

#banner-info-section{
    /*background: linear-gradient(180deg, , 50%, );*/
    background: linear-gradient(180deg, #180421, 85%, #3C1346);
    background-color: white;
}

.banner-info-container > * {
    display:flex;
    color:#FAED23;
    align-items:center;
}

#banner-section {
    height:200px;
    background-image: url(../assets/rug.jpg);
    background-position: left center;
}
#banner-2{
    flex-direction: row;
}

.services-outline-heading{
    font-size: 20px;
}


.image-cell{
    display:none;
    height:200px;
    width:100%;

}
#contact-section{
    background-color:#1F1F1F;
}

.disappear{
    display:none;
}
.appear{
    display:block;
}
#thank-you-message{
    height: 500px;
}

.button{
    margin-bottom:21px;
    border-radius: 8px;
    font-size: 16px;
    width: 150px;
    height:48px;
    border: 1px white solid;
    font-family: Helvetica;
    background-color: black;
    color:white;

}


textarea{
    padding:10px 0px 0px 10px;
    border:0;
    font-family: Helvetica;
}

body{
    
    font-family: Helvetica;
}

.contact-content{
}
.caption{
    font-size: 15px;
    font-weight: bold;

}
.content{
}


.infographic-content{
    color:white;
}


#header-2-caption{
    display:none;
}
#header-2-stuff{
    text-align: right;
}


a{
    color:#FAED23;
    text-decoration: none;
    
}
#banner-2{
    flex-direction: row;

}



#landing-infographic{
    background-color:#1F1F1F;

}

.headshot{
    max-width: 300px;
    display: block;
    z-index: 100;
}


.heading{
    font-weight: bold;
    font-family: 'Helvetica Neue', 'Helvetica', 'san-serif';
    font-size: 30px;
}
/* this was giving me so much trouble, i guess the solution was setting the banner content to position:relative*/

#banner-section::before{
    content:"";
    height:100%;
    width:100%;
    background-image: linear-gradient(180deg, rgba(80, 2, 163, 0.705), 40%,rgba(210, 5, 152, 0.192) );
    display:block;
    position: absolute;
}

.landing-text{
    font-size: 30px;
}

.row-left{
    width:100%;
}
#header-2-left{
    display:flex;
    flex-direction: column;
}

@media only screen and (max-width: 1074px){
    .services-outline-heading{
        font-size: 25px;
    }
    .page-margin{
        margin:0px 50px;
    }

    .info-cell .caption{
        margin-left:0px;
    }
    #header-2-left{
        display:flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
    }
    .content{
    }
    
    #banner-2{
        margin: none;
    }
    

    .caption{
        font-size: 20px;
        font-weight: bold;

    }
    .row-left, .row-right{
        width:50%;
        text-align: center;
    }
    #header-2-caption{
        display:block;
    }

    .landing-logo{
        height:100px;        
    }
}
@media only screen and (min-width: 900px) and (max-width:1074px){
    .page-margin{
        margin:0px 90px;
    }
}


@media only screen and (min-width: 1074px){
    p{
        margin:10px 0px;
    }
    .services-outline-heading{
        font-size: 35px;
    }

    .page-margin{
        margin:0px 130px;
    }
    .content{
        padding:65px 0;
    }
    .heading{
        font-size: 60px;
    }
    .info-cell .caption{
        margin-left:0px;
    }
    .banner-2-heading{
        font-size: 130px;
        font-weight:bold;
    }
    #banner-2{
        margin:auto;
    }
    .contact-content{
    }

    .row-left, .row-right{
        width:50%;
    }
    #banner-2 .row-left{
        width:30%;
    }
    #banner-2 .row-right{
        width:70%;
    }

    .testimonial-photo{
        max-width:100%;
    }
    .row-left .info-cell{
    align-items: flex-start;
    }
    .row-right .info-cell{
        align-items: flex-end;
        justify-content: right;
    }

    .caption{
        font-size: 20px;
        font-weight: bold;
        margin-left:0px;

    }

    #header-2-caption{
        display:block;
    }
    .landing-text{
        font-size: 50px;
        padding:34px;
    }
    
}